# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*
agent.yaml

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Unit Tests / Coverage
.tox/
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# Flask / Web Frameworks
instance/
*.sqlite
